@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #160D13;
    color: white;
    height: 100%;
    width: 100%;
}

.App {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

.cut-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.time-input {
    max-width: 200px;
    padding: 16px 26px;
    background: transparent;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 1000px;
    color: #ffffff;
    margin: 8px;
}